<div class="pb-6">
  <app-form-error-message [errorMessage]="errorMessage" />
</div>
<form class="space-y-6" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div>
    <app-form-input-group
      [id]="FieldName.Email"
      label="Email address"
      type="email"
      autocomplete="email"
      required
    />
  </div>
  <div>
    <app-form-input-group
      [id]="FieldName.Password"
      label="Password"
      type="password"
      autocomplete="current-password"
      required

    />
  </div>
  <div>
    <app-form-input-group
      [id]="FieldName.DisplayName"
      label="Display Name"
      type="text"
      required

    />
  </div>
  <app-form-submit-button
    [label]="'Register'"
    [disabled]="getButtonDisabled()"
    [loadingLabel]="'Registering...'"
  />
</form>
<app-text-divider label="Or register with" />
<div class="mt-6 grid grid-cols-2 gap-4">
  <app-auth-button provider="google" href="#" label="Google" />
  <app-auth-button provider="github" href="#" label="Github" />
</div>
<p class="mt-10 text-center text-sm/6 text-gray-500">
  Already have an account?
  <a [routerLink]="[getAuthPath('login')]" class="button-text">Login Here</a>
</p>

