<div class="fullscreen-center">
  <div class="form-card">
    <h3>Forgot Your Password?</h3>
    <p class="mt-2 text-sm/6 text-gray-500">
      Use the email address you used to create this account.
    </p>
    <form
      class="space-y-6 pt-4"
      [formGroup]="forgotPasswordForm"
      (ngSubmit)="onSubmit()"
    >
      <div>
        <app-form-input-group
          id="email"
          label="Email address"
          type="email"
          autocomplete="email"
          required
        />
      </div>

      <button type="submit" class="button-primary-full">
        Reset Your Password
      </button>
    </form>
    <app-text-divider [label]="'Or'"></app-text-divider>
    <p class="mt-10 text-center text-sm/6 text-gray-500">
      <a [routerLink]="['/auth/login']" class="button-text">Back To Login </a>
    </p>
  </div>
</div>
