<div class="pb-6">
  <app-form-error-message [errorMessage]="errorMessage" />
</div>
<h3>Reset Your Password?</h3>
<p class="mt-2 text-sm/6 text-gray-500">
  Make sure you don't tell anyone this password.
</p>
<form
  class="space-y-4"
  [formGroup]="resetPasswordForm"
  (ngSubmit)="onSubmit()"
>
  <div>
    <app-form-input-group
      [id]="FieldName.Password"
      label="Password"
      type="password"
      autocomplete="current-password"
      required
    />
  </div>
  <button type="submit" class="button-primary-full">Reset Password</button>
</form>

