<div class="bg-white">
  <div class="px-6 py-24 sm:px-6 sm:py-32 lg:px-8">
    <div class="mx-auto max-w-2xl text-center">
      <h2
        class="text-4xl font-semibold tracking-tight text-balance text-gray-900 sm:text-5xl"
      >
        Start Collaborating with Sylink Today.
      </h2>
      <p class="mx-auto mt-6 max-w-xl text-lg/8 text-pretty text-gray-600">
        Experience seamless teamwork with Sylink. Write, plan, and collaborate
        effortlessly with your friends and colleagues in a space built for
        productivity and creativity.
      </p>
      <div class="mt-10 flex items-center justify-center gap-x-6">
        <a [routerLink]="['/profile']" class="button-primary">Profile</a>
        <a [routerLink]="['/auth/login']" class="button-primary">Log In</a>
        <a [routerLink]="['/auth/register']" class="button-text"
          >Register <span aria-hidden="true">→</span></a
        >
      </div>
    </div>
  </div>
</div>
