<div [formGroup]="formGroup" class="form-checkbox">
  <div class="checkbox-wrapper">
    <div class="checkbox-grid">
      <input
        [id]="id"
        [name]="name"
        [formControlName]="name"
        type="checkbox"
        class="checkbox-input"
      />
      <svg class="checkbox-icon" viewBox="0 0 14 14" fill="none">
        <path
          class="checkmark"
          d="M3 8L6 11L11 3.5"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          class="dash"
          d="M3 7H11"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </div>
  </div>
  <label [for]="id" class="checkbox-label">{{ label }}</label>
</div>
